@import '../variables';

.sort {
  position: relative;
  border: 15px solid transparent;
  border-radius: 30px;
  background-color: rgba(20, 0, 0, 0.89);
  cursor: pointer;
  &__label {    
    display: flex;
    align-items: center;    

    svg {
      margin-right: 8px;
      transition: 0.6s;

      &.active {
        transform: rotate(180deg);        
      }
    }

    b {
      margin-right: 8px;
      color: #ffffff;
    }

    span {
      color: #ffffff;
      font-weight: 700;
    }
  }

  &__popup {    
    position: absolute;    
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
    

    ul {
      overflow: hidden;
      
      
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(110, 42, 14, 0.05);
          font-weight: bold;
          color: $black;
        }
      }
    }
  }
}
